    body {
        margin: 0;
        color: #40414E;
        text-align: center;
        font-family: 'Merriweather', serif;
    }
    
    h1 {
        /* 1em = 100% = 16px; rem=root em */
        font-size: 5.625rem;
        color: #66bfbf;
        font-family: 'Sacramento', cursive;
        margin: 50px auto 0 auto;
        /* line-height: 2; */
    }
    
    h2 {
        color: #66bfbf;
        font-weight: normal;
        font-size: 2.5rem;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 10px;
    }
    
    h3 {
        color: #11999E;
        font-family: 'Montserrat', sans-serif;
    }
    
    .top-container {
        background-color: #EAF6F6;
        position: relative;
        padding-top: 100px;
    }
    
    p {
        line-height: 2;
    }
    
    hr {
        border: dotted #cbf5f5 6px;
        border-bottom: none;
        width: 4%;
        margin: 100px auto;
    }
    
    .contact-me {
        background-color: rgb(250, 225, 215);
        padding: 40px 0;
        border-radius: 50%;
        width: 50%;
        margin: auto;
    }
    
    .contact-messege {
        width: 50%;
        margin: 40px auto 60px;
    }
    
    .skill-row {
        width: 50%;
        margin: 100px auto;
        text-align: left;
    }
    
    .code-img {
        width: 25%;
        float: left;
        margin-right: 30px;
    }
    
    .chilli-img {
        width: 25%;
        float: right;
        margin-left: 30px;
    }
    
    .intro {
        width: 70%;
        margin: auto;
    }
    /* .code-skill-description {
    clear: left;
    }
    
    .chilli-skill-description {
        clear: right;
    } */
    
    .middle-container {
        margin: 100px;
        background-color: rgb(245, 214, 200);
        margin: 0;
        padding: 20px;
    }
    
    .dev {
        text-decoration: underline;
    }
    
    .top-cloud {
        position: absolute;
        top: 40px;
        right: 300px;
    }
    
    .bottom-cloud {
        position: absolute;
        left: 250px;
        bottom: 300px;
    }
    
    .bottom-container {
        background-color: #66BFBF;
        /* height: 200px; */
        padding: 50px 0 20px;
    }
    
    .footer-link {
        color: #e60b0b;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin: 10px 20px;
    }
    
    a:hover {
        color: #eaf6f6;
    }
    
    .copy-right {
        color: #EAF6F6;
        font-size: 0.75rem;
        padding: 20px 0 0 0;
        margin-bottom: 0;
    }
    
    .profile {
        padding: 20px 0;
        background-color: rgb(250, 225, 215);
        width: 50%;
        margin: 0 auto;
        border-radius: 45%;
    }
    
    .btn {
        background: #11CDD4;
        background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
        background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
        background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
        background-image: -o-linear-gradient(top, #11CDD4, #11999E);
        background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 100;
        padding: 20px;
        -webkit-box-shadow: inset 1px 1px 10px 0 #0059A0;
        -moz-box-shadow: inset 1px 1px 10px 0 #0059A0;
        box-shadow: inset 1px 1px 10px 0 #0059A0;
        border: solid #337FED 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
    }
    
    .btn:hover {
        border: solid #337FED 1px;
        background: #30E3CB;
        background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
        background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
        background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
        background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
        background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
    }
    
    .chilli-skill-description {
        text-align: center;
    }
    
    .code-skill-description {
        text-align: center;
    }